  @font-face {
    font-family: 'Urbanist';
    src: url('../fonts/centurygothic.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

.logo {
    width: 44px;
    margin-left: 34.47px;
    margin-right: 34.47px;
    margin-top: 38.1px;
    margin-bottom: 38.1px;
    background-color: #FFFFFF;
}

.image-container {
    background-image: url('../images/changepassword.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 176px;
    height: 176px;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    min-height: fit-content;

    display: flex;
    background: white;
}

.my-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #FFFFFF 50%, #fdf6f6 50%);
    
}

.button {
    width: 127px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #333;
    border-radius: 25px;
    color: #333;
    font-size: 25.5px;
    transition: background-color 0.3s;
    white-space: nowrap;

    margin-top: 43.54px;
    margin-left: 30.84px;

    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover {
      background-color: #fdf6f6;
    }
  }

  .button-adaptive {
    min-width: fit-content;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #333;
    border-radius: 25px;
    color: #333;
    font-size: 25.5px;
    transition: background-color 0.3s;
    white-space: nowrap;

    margin-top: 43.54px;
    margin-left: 30.84px;

    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover {
      background-color: #fdf6f6;
    }
  }

  .butt2 {
    font-size: 25.5px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    background-color: #FFFFFF;
    transition: background-color 0.3s;
    white-space: nowrap;
    height: 43px;
    width: 252px;
  }

  @font-face {
    font-family: 'Urbanist';
    src: url('../fonts/centurygothic.ttf');
    font-weight: normal;
    font-style: normal;
}

.login-box {
    font-family: 'urbanist', sans-serif;
    width: 790px;
    margin-top: 20px;
    padding: auto;
    background: transparent;
}
  
.login-box h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #000000;
    text-align: center;
}
  
.login-box .user-box {
    position: relative;
}
  
.login-box .user-box input {
    width: 100%;
    padding: 20px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .5s;
}
  
.login-box .user-box input:focus ~ label,
.login-box .user-box input:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 16px;
}