
  @import url(forma.css);
  .block-for-login{
    width: 1228px;
    height: 715px;
    &_leftb{
        background-color: white;
        width: 50%;
        height: 100%;

    }
    &_rightb{
      width: 50%;
      height: 100%;
    }
  }
body{
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
  margin: 0;
  background-color: #fdf6f6 !important;
}
.for-img{
  width: 44px;
  height: 44px;
  margin: 20px 0 0 30px;
}
.form-check-label input[type="checkbox"]:checked  {
  background-color: #00FF00; 
}