@charset "UTF-8";
@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #fdf6f6 !important;
}

.home-content {
  width: 1440px;
  height: 854.13px;
  background: white;
  position: relative;
}
.home-content_menu {
  width: 1440px;
  height: 100.615px;
}
.home-content_menu_line {
  height: 1px;
  width: 1428.8px;
  border-radius: 45px;
  background: black;
  margin: 0px;
  padding: 0px;
}
.home-content_menu_location {
  height: 99.615px;
  width: 10%;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}
.home-content_menu_location_icon-location {
  width: 23.14px;
  height: 27.96px;
}
.home-content_menu_location_text {
  font-family: "Urbanist";
}
.home-content_menu_orig-menu {
  height: 99.615px;
  width: 70%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 115px;
}
.home-content_menu_orig-menu_menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.home-content_menu_orig-menu_menu-list_menu-item a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  font-size: 30.5px;
  font-family: "Urbanist";
}
.home-content_menu_orig-menu_menu-list_menu-item a:hover {
  color: #666;
}
.home-content_menu_orig-menu_menu-list_menu-divider {
  width: 1px;
  height: 30px;
  background-color: black;
  margin: 0 5px;
}
.home-content_menu_logSign {
  height: 99.615px;
  width: 20%;
  margin: 0px;
  padding: 0px;
  padding: 0 40px 0 0;
}
.home-content_menu_logSign_btn {
  padding: 4.9px 30.5px;
  font-size: 25.5px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
  white-space: nowrap;
}
.home-content_menu_logSign_btn:hover {
  background-color: #fdf6f6;
}
.home-content_menu_logSign_btn:not(:last-child) {
  margin-right: 20px;
}
.home-content_header {
  width: 1410.36px;
  height: 452.9px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fdf6f6;
}
.home-content_header_text {
  font-family: "Urbanist";
  font-size: 50px;
  text-align: center;
  line-height: 1.2;
}
.home-content_header_container-text {
  width: 300px;
  height: 120px;
}
.home-content_header_container-text_text-header {
  font-family: "Urbanist";
  font-size: 100px;
  padding: 35px 0 0 0;
}
.home-content_header_container-text_image {
  height: 90px;
  width: 75px;
}
.home-content_header_line {
  width: 810.86px;
  height: 4.316px;
  background: black;
}
.home-content_footer-content {
  width: 1429.24px;
  height: 510.57px;
  margin: 64px auto 10px auto;
  background: rgba(248, 225, 225, 0.3019607843);
}
.home-content_footer-content_image-control {
  position: relative;
}
.home-content_footer-content_image-control_image {
  position: relative;
  left: 110px;
  width: 76px;
  height: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.home-content_footer-content_add-text {
  padding: 60px 0 0 0;
}
.home-content_footer-content_add-text_line {
  height: 100%;
  width: 400px;
  height: 4.316px;
  border-radius: 25px;
  background: black;
}
.home-content_footer-content_add-text_text {
  font-family: "Urbanist";
  font-size: 57px;
  text-align: center;
  line-height: 1.2;
}
.home-content_footer-content_add-button {
  padding: 10px 0 0 0;
}
.home-content_footer-content_add-button_btn {
  background-color: white;
  width: 340px;
  padding: 4.9px 30.5px;
  font-size: 25.5px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}
.home-content_footer-content_add-button_btn:hover {
  background-color: #f0f0f0;
}
.home-content_footer-content_add-button_btn:not(:last-child) {
  margin-right: 20px;
}
.home-content_footer {
  width: 100%;
  height: 294.37px;
  background: rgba(0, 0, 0, 0.8);
}
.home-content_footer_1 {
  height: 100%;
  width: 25%;
}
.home-content_footer_1 img {
  height: 110px;
  width: 130px;
  padding: 40px 0 0 60px;
}
.home-content_footer_1_text {
  color: white;
  padding: 0 0 80px 30px;
  font-family: "Urbanist";
  font-size: 18px;
}
.home-content_footer_2 {
  height: 100%;
  width: 50%;
}
.home-content_footer_2_proj-menu {
  width: 100%;
  height: 86%;
}
.home-content_footer_2_proj-menu_project {
  color: white;
  padding: 30px 28px 0 0;
  font-size: 30px;
}
.home-content_footer_2_proj-menu_buttons {
  color: white;
  text-align: center;
  line-height: 1.7;
  font-size: 18px;
}
.home-content_footer_2_text-main-footer {
  text-align: center;
  font-family: "Urbanist";
  font-size: 16px;
  color: white;
}
.home-content_footer_4 {
  height: 100%;
  width: 25%;
}
.home-content_footer_4_text {
  font-size: 30px;
}
.home-content_footer_4 a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Urbanist";
  padding: 0 0 100px 0;
}
.home-content_footer_4 a:hover {
  color: #666;
}
.home-content_footer_4 p {
  color: white;
  font-family: "Urbanist";
}
.home-content_header-pre-block_line {
  width: 498px;
  height: 5px;
  background: #000;
}
.home-content_header-pre-block_text {
  font-family: "Urbanist";
  font-size: 55px;
}
.home-content_main-pre-header {
  height: 505.3px;
  background: #fdf6f6;
  width: 99%;
  margin: 18px auto 0 auto;
}
.home-content_main-pre-header_mainer-content1 {
  width: 50%;
  height: 100%;
}
.home-content_main-pre-header_mainer-content1_inside1 {
  margin: 30px 0 0 40px;
}
.home-content_main-pre-header_mainer-content1_inside1 img {
  width: 50px;
  height: 50px;
}
.home-content_main-pre-header_mainer-content1_inside1 p {
  color: #000;
  margin-top: 6px;
  font-family: "Urbanist";
  font-size: 24px;
}
.home-content_main-pre-header_mainer-content1_inside2 {
  height: 100%;
}
.home-content_main-pre-header_mainer-content1_inside2 p {
  font-size: 35px;
  color: #000;
  font-family: "Urbanist";
}
.home-content_main-pre-header_mainer-content1_inside2_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px 0px 40px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
  white-space: nowrap;
  margin-bottom: 74px;
  color: #ABA1A1;
}
.home-content_main-pre-header_mainer-content1_inside2_btn:hover {
  background-color: #fdf6f6;
}
.home-content_main-pre-header_mainer-content1_inside2_btn:hover p {
  color: #000000;
}
.home-content_main-pre-header_mainer-content1_inside2_btn p {
  font-size: 25px;
  color: #ABA1A1;
}
.home-content_main-pre-header_mainer-content2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.home-content_main-pre-header_mainer-content2_image-left {
  position: absolute;
  right: 47%;
  top: 57%;
}
.home-content_main-pre-header_mainer-content2_image-right {
  position: absolute;
  right: 8%;
  top: 45%;
}
.home-content_main-pre-header_mainer-content2 img {
  border-radius: 50%;
  margin: -3px;
  width: 320px;
  height: 320px;
  transition: transform 0.7s ease-in-out;
}
.home-content_main-pre-header_mainer-content2 img:hover {
  transform: scale(1);
  transition: transform 0.7s ease-in-out;
}
.home-content_main-pre-header_mainer-content2 img:not(:hover) {
  transform: scale(0.9);
  animation: resetSize 0.5s forwards 0.3s;
}
.home-content_main-pre-header_mainer-content2 img:nth-child(3) {
  position: absolute;
  top: 0;
  left: 26%;
  margin-left: 5px;
}

.triangle {
  background-image: url("../images/Triangle.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.divider {
  height: 100%;
  /* Висота 100% контейнера */
  width: 445px;
  height: 4.2px;
  /* Товщина полоски */
  background-color: black;
  /* Колір полоски */
}

.osnova {
  width: 100;
}

.block_zaibav {
  width: 100%;
  height: 100%;
}

.block_zaibav2 {
  width: 50%;
  height: 70%;
}

.bordRegist {
  border-radius: 100px;
}

.text-block {
  padding: 80px 0 0 0;
}

.user_icon {
  padding-left: 30px;
  background-image: url("../svgFiles/person.svg");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-right: 10px;
}

.texte {
  color: aqua;
}

input[placeholder="First Name"] {
  padding-left: 30px;
  background-image: url("../svgFiles/person.svg");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-right: 10px;
}

input[placeholder="Last Name"] {
  padding-left: 30px;
  background-image: "";
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-right: 10px;
}

input[placeholder=Email] {
  padding-left: 30px;
  background-image: url("../svgFiles/envelope-at.svg");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-right: 10px;
}

input[placeholder=Password] {
  padding-left: 30px;
  background-image: url("../svgFiles/icons8-password.svg");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-right: 10px;
}/*# sourceMappingURL=main.css.map */