@mixin back_color{
    background: #b7ba9f !important;
}
@mixin input_svg($image){
    padding-left: 30px; 
    background-image: $image;
    background-position: 5px center; 
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-right: 10px;

}
body, header,footer{
    @include back_color;
}
.bg-dark{
    background: #b7ba9f !important;
}

.bordRegist{
    border-radius: 100px;
}

.user_icon{ 
    @include input_svg(url("../svgFiles/person.svg"))
}
.texte{
    color: aqua;
}
input[placeholder="First Name"] {
    // @include input_svg(url("../svgFiles/person.svg"))
}

input[placeholder="Last Name"] {
    // @include input_svg("")
}

input[placeholder="Email"] {
    @include input_svg(url("../svgFiles/envelope-at.svg"))
}

input[placeholder="Password"] {
    @include input_svg(url("../svgFiles/icons8-password.svg"))
}

.svg-container {
    background-color: white; /* Колір фону (білий) */
    max-width: 100%; /* Встановіть бажаний відступ для вашого контенту */
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
}

.flex-item {
    flex-grow: 1; /* This will make all items grow equally */
    min-width: 100px; /* Set a minimum width for items */
}

.svg-person {
    width: 7%;
}

.ikonka {
    width: 75%;
}

.batya {
    width: 90%;
}

.lastname-block {
    width: 48%;
}

.firstname-block {
    width: 48%;
}

.knopka {

    width: 100%;
}