@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.login-box {
    font-family: 'urbanist', sans-serif;
    width: 790px;
    margin-top: 20px;
    padding: auto;
    background: transparent;
}
  
.login-box h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #000000;
    text-align: center;
}
  
.login-box .user-box {
    position: relative;
}
  
.login-box .user-box input {
    width: 100%;
    padding: 20px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .5s;
}
  
.login-box .user-box input:focus ~ label,
.login-box .user-box input:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 16px;
}