.swiper {
  width: 650px;
  height: 350px;
}

.swiper-slide {
  width: 100%; 
  height: 100vh;
  overflow: hidden; 
  text-align: center;
  font-size: 18px;
  background: #ffffff00;
  margin-left:10px ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.myUniqueSwiper .slide-text {
  font-size: 45px; 
  font-family: 'Urbanist';
  font-weight:550;
}
.myUniqueSwiper {
  margin-top: 10px;
  width: 100%;
  height: 50px; 
}
.form-check-input:checked {
  background-color: #000000; /* Колір фону чекбокса при виборі */
  border-color: #000000; /* Колір кордону чекбокса при виборі */
}

/* Для кастомної галочки всередині чекбокса */
.form-check-input:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  /* Подальша настройка для візуального вигляду галочки */
}