{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style/reserv.css' %}" rel="stylesheet">
    <link href="{% static 'style/main.css' %}" rel="stylesheet">
    <link href="{% static 'style/base.css' %}" rel="stylesheet">
    <link href="{% static 'style/cardMove2.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'scripts/home2.js' %}"></script>
    <script src="{% static 'scripts/scrollreveal.min.js' %}"></script>
</head>
<body>
    <header class="home-content_header_container">
        <div>
            <div class="header d-flex">
                <a href='{% url 'landing' %}'><img src="{% static 'images/M.png' %}" class="img-fluid logo" alt=""></a>
                {% if user.is_authenticated %}

                {% if request.path == '/home/' %}
                <button class="button" onclick="location.href='{% url 'home' %}'">home</button>
                {% endif %}

                <button class="button-adaptive" onclick="location.href='{% url 'profile' %}'">{{ user.email }}</button>
                <button class="button" onclick="location.href='{% url 'logout' %}'">log out</button>
                {% else %}
                <button class="button" onclick="location.href='{% url 'login' %}'">log in</button>
                <button class="button" onclick="location.href='{% url 'register' %}'">register</button>
                {% endif %}
            </div>
        </div>
    </header>


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>
