{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style/reserv.css' %}" rel="stylesheet">
    <link href="{% static 'style/main.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'scripts/home.js' %}"></script>

</head>

<body class=" d-flex flex-column justify-content-center align-items-center ">
    <header class="home-content animate-slide-up">
        <menu class="home-content_menu d-flex align-content-start justify-content-center flex-wrap animate-slide-up">
            <dir
                class="home-content_menu_location d-flex justify-content-center align-items-center flex-column animate-slide-up">
                <img src="../static/icons/image 20.png" alt=""
                    class="home-content_menu_location_icon-location animate-slide-up">
                <p class="">location</p>
            </dir>
            <dir class="home-content_menu_orig-menu animate-slide-up">
                <ul
                    class="home-content_menu_orig-menu_menu-list d-flex justify-content-center  align-items-center animate-slide-up">
                    <li class="home-content_menu_orig-menu_menu-list_menu-item animate-slide-up"><a href="#">home</a>
                    </li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-divider animate-slide-up"></li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-item animate-slide-up"><a href="#">about
                            Us</a></li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-divider animate-slide-up"></li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-item animate-slide-up"><a href="#">service
                            Profile</a></li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-divider animate-slide-up"></li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-item animate-slide-up"><a href="#">useful
                            information</a></li>
                </ul>
            </dir>
            <dir class="home-content_menu_logSign d-flex justify-content-center align-items-center animate-slide-up">
                <button class="home-content_menu_logSign_btn animate-slide-up">Log in</button>
                <button class="home-content_menu_logSign_btn animate-slide-up">register</button>
            </dir>

            <dir class="home-content_menu_line animate-slide-up">


            </dir>
        </menu>
        <div class="home-content_header d-flex justify-content-center flex-column  align-items-center animate-slide-up">
            <div class="d-flex align-items-center home-content_header_container-textanimate-slide-up">
                <img class="home-content_header_container-text_image animate-slide-up" src="../static/images/M.png" alt="">
                <p class="home-content_header_container-text_text-header animate-slide-up">all</p>
                <img class="home-content_header_container-text_image animate-slide-up" src="../static/images/M.png" alt="">
                <p class="home-content_header_container-text_text-header animate-slide-up">ate</p>
            </div>
            <div class="home-content_header_line animate-slide-up"></div>

            <p class="home-content_header_text animate-slide-up">Your best assistant for navigating in a <br> shopping center</p>
        </div>
    </header>



    <footer class="home-content animate-slide-up">
        <div class="home-content_footer-content animate-slide-up">
            <div class="home-content_footer-content_add-text d-flex align-items-center justify-content-around home-content_footer-content_add animate-slide-up">
                <div class="home-content_footer-content_add-text_line animate-slide-up"></div>
                <div class="home-content_footer-content_add-text_text animate-slide-up">Don't waste time <br> Start now</div>
                <div class="home-content_footer-content_add-text_line animate-slide-up"></div>
                
            </div>
            
            <div class="home-content_footer-content_image-control d-flex align-items-center justify-content-center animate-slide-up"> 
                <img class="home-content_footer-content_image-control_image animate-slide-up" src="../static/images/arrow.png" alt="">
            </div>
            


            <div class="home-content_footer-content_add-button d-flex align-items-center justify-content-around home-content_footer-content_add animate-slide-up">
                <button class="home-content_footer-content_add-button_btn animate-slide-up animate-slide-up">register</button>
            </div>

        </div>

        



        
        <div class="home-content_footer"></div>

    </footer>




    <!-- {% block content %}{% endblock %}   -->
</body>

</html>