{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/login.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/scrollreveal.min.js' %}"></script>
    <script src="{% static 'scripts/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'scripts/home2.js' %}"></script>
    <link href="{% static 'style/reserv.css' %}" rel="stylesheet">
    <link href="{% static 'style/login.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/forma.css' %}" rel="stylesheet">
    <link href="{% static 'style/main.css' %}" rel="stylesheet">
    <link href="{% static 'style/shtora.css' %}" rel="stylesheet">
    <link href="{% static 'style/swiper-bundle.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="d-flex flex-column">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-wide">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="block-for-login d-flex justify-content-between">

            <div class="block-for-login_leftb">
                <header class="home-content_header_container">
                    <div>
                        <a href="{% url 'landing' %} "><img src="../static/images/M.png" class="for-img"></a>
                    </div>
                </header>
                <p align="center" style="font-size:50px; margin-top: 7%; margin-bottom: 0px;">Log in</p>
                <p align="center" style="opacity: 0.6 ;">Welcome to MallMate! Please enter your email and password to get
                    <br> started
                </p>
                <div class="login-box d-flex justify-content-center align-items-center">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="user-box">
                            <input type="text" required id="username" name="{{ form.username.name }}">
                            <label class="d-flex flex-column">Email<img id="usernameIcon" class="icon"
                                    src="/static/icons/mail.svg" style="height: 15px; width: 15px;"></label>
                        </div>
                        <div class="user-box">
                            <input type="password" name="{{ form.password.name }}" required id="password">

                            <label class="d-flex flex-column">Password<img id="passwordIcon" class="icon"
                                    src="/static/icons/lock.svg" style="height: 15px; width: 15px;"></label>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{ form.remember_me.name }}" value="on" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault" style="color: #BD9F9F; text-align: center;">
                                    Remember <br> me
                                </label>
                            </div>
                            <div><a style="color: #BD9F9F;" href="{% url 'password_reset' %}">Forgot password?</a></div>
                        </div>

                        <button class="butt" onclick="location.href='{% url 'login' %}'"><a
                                style="position: relative; bottom: 12px; text-decoration: none;">Log in</a></button>
                    </form>
                    
                </div>
                <div class="d-flex align-items-center justify-content-around text-block">
                    <div class="divider-f"></div>
                    <p class="or-f ">or</p>
                    <div class="divider-f"></div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                            <button class="butt2" onclick="location.href='{% url 'register' %}'"><a>
                                create an account</a></button>        
                    </div>
            </div>
            <div class="d-flex justify-content-center align-items-center flex-column d-flex align-items-center">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img style=" object-fit: cover;" src="/static/images/cards/Frame 8.png"
                                alt=""></div>
                        <div class="swiper-slide"><img style=" object-fit: cover;" src="/static/images/cards/Frame 9.png"
                                alt=""></div>
                        <div class="swiper-slide"><img style=" object-fit: cover;" src="/static/Gifes/Grabacion.gif" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper myUniqueSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <span class="slide-text">Personal sales</span>
                        </div>
                        <div class="swiper-slide">
                            <span class="slide-text">Search store</span>
                        </div>
                        <div class="swiper-slide">
                            <span class="slide-text">Navigate with map</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>