{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style/reserv.css' %}" rel="stylesheet">
    <link href="{% static 'style/main.css' %}" rel="stylesheet">
    <link href="{% static 'style/map.css' %}" rel="stylesheet">
    <link href="{% static 'style/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/leaflet.js' %}"></script>
    <script src="{% static 'scripts/map.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    >
    <title>Document</title>
    <script>
        var src = "{% static 'images/magazine_Map/background.jpg' %}"
        
    //     var shops = [
    //         { coords: [40, 40], iconUrl: "{% static 'images/magazine_Map/Exit.png' %}", name: 'Магазин 1', svg: "{% static 'icons/Silpo.svg' %}",
    //     additionalContent: '<svg>...Ваш SVG...</svg>' // Сюди додайте свій SVG код
    // }, 
    //         { coords: [0, 170], iconUrl: "{% static 'images/magazine_Map/Silpo.png' %}", name: 'Silpo', },
    //         { coords: [0, 590], iconUrl: "{% static 'images/magazine_Map/Jysk.png' %}", name: 'Jysk' },
    //         { coords: [45, 491], iconUrl: "{% static 'images/magazine_Map/foxtrot.png' %}", name: 'foxtrot' },
    //         { coords: [175, 644], iconUrl: "{% static 'images/magazine_Map/Rozetka.png' %}", name: 'Rozetka' },
    //         { coords: [45, 549], iconUrl: "{% static 'images/magazine_Map/eldorado.png' %}", name: 'eldorado' },
    //         { coords: [186, 529], iconUrl: "{% static 'images/magazine_Map/MIELE.png' %}", name: 'MIELE' },
    //         { coords: [186, 500], iconUrl: "{% static 'images/magazine_Map/Xiomi.png' %}", name: 'Xiomi' },
    //         { coords: [187, 549], iconUrl: "{% static 'images/magazine_Map/Rectangle426.png' %}", name: 'Магазин 2' },
    //         { coords: [186, 562], iconUrl: "{% static 'images/magazine_Map/Group46.png' %}", name: 'Магазин 2' },
    //         { coords: [186, 580], iconUrl: "{% static 'images/magazine_Map/Group45.png' %}", name: 'Магазин 2' },
    //         { coords: [193, 480], iconUrl: "{% static 'images/magazine_Map/Rectangle521.png' %}", name: 'Магазин 2' },
    //         { coords: [217, 500], iconUrl: "{% static 'images/magazine_Map/Defacto.png' %}", name: 'Defacto' },
    //         { coords: [285, 513], iconUrl: "{% static 'images/magazine_Map/Group50.png' %}", name: 'Магазин 2' },
    //         { coords: [302, 515], iconUrl: "{% static 'images/magazine_Map/Group51.png' %}", name: 'Магазин 2' },
    //         { coords: [302, 500], iconUrl: "{% static 'images/magazine_Map/WaiKIKI.png' %}", name: 'WaiKIKI' },
    //         { coords: [315, 495], iconUrl: "{% static 'images/magazine_Map/Rectangle 526.png' %}", name: 'Магазин 2' },
    //         { coords: [295, 495], iconUrl: "{% static 'images/magazine_Map/Rectangle 525.png' %}", name: 'Магазин 2' },
    //         { coords: [270, 490], iconUrl: "{% static 'images/magazine_Map/Rectangle 524.png' %}", name: 'Магазин 2' },
    //         { coords: [255, 485], iconUrl: "{% static 'images/magazine_Map/Rectangle 523.png' %}", name: 'Магазин 2' },
    //         { coords: [240, 480], iconUrl: "{% static 'images/magazine_Map/Rectangle 522.png' %}", name: 'Магазин 2' },
    //         { coords: [435, 482], iconUrl: "{% static 'images/magazine_Map/Rectangle 472.png' %}", name: 'Магазин 2' },
    //         { coords: [435, 480], iconUrl: "{% static 'images/magazine_Map/Rectangle 473.png' %}", name: 'Магазин 2' },
    //         { coords: [475, 475], iconUrl: "{% static 'images/magazine_Map/Rectangle 474.png' %}", name: 'Магазин 2' },
    //         { coords: [500, 470], iconUrl: "{% static 'images/magazine_Map/Rectangle 475.png' %}", name: 'Магазин 2' },
    //         { coords: [525, 465], iconUrl: "{% static 'images/magazine_Map/Rectangle 476.png' %}", name: 'Магазин 2' },
    //         { coords: [554, 458], iconUrl: "{% static 'images/magazine_Map/Rectangle 477.png' %}", name: 'Магазин 2' },
    //         { coords: [583, 452], iconUrl: "{% static 'images/magazine_Map/Rectangle 478.png' %}", name: 'Магазин 2' },
    //         { coords: [611, 447], iconUrl: "{% static 'images/magazine_Map/Rectangle 479.png' %}", name: 'Магазин 2' },
    //         { coords: [632, 435], iconUrl: "{% static 'images/magazine_Map/Rectangle 492.png' %}", name: 'Магазин 2' },
    //         { coords: [632, 442], iconUrl: "{% static 'images/magazine_Map/Rectangle 493.png' %}", name: 'Магазин 2' },
    //         { coords: [692, 432], iconUrl: "{% static 'images/magazine_Map/Rectangle 493.png' %}", name: 'Магазин 2' },
    //         { coords: [690, 426], iconUrl: "{% static 'images/magazine_Map/Rectangle 490.png' %}", name: 'Магазин 2' },
    //         { coords: [745, 421], iconUrl: "{% static 'images/magazine_Map/sinsay.png' %}", name: 'sinsay' },
    //         { coords: [850, 407], iconUrl: "{% static 'images/magazine_Map/H&M.png' %}", name: 'H&M' },
    //         { coords: [822, 250], iconUrl: "{% static 'images/magazine_Map/RESERVED.png' %}", name: 'RESERVED' },
    //         { coords: [758, 246], iconUrl: "{% static 'images/magazine_Map/NEWYORKER.png' %}", name: 'NEWYORKER' },
    //         { coords: [822, 406], iconUrl: "{% static 'images/magazine_Map/Ellipse 44.png' %}", name: 'Магазин 2' },
    //         { coords: [737, 293], iconUrl: "{% static 'images/magazine_Map/Rectangle 485.png' %}", name: 'Магазин 2' },
    //         { coords: [679, 246], iconUrl: "{% static 'images/magazine_Map/BROCARD.png' %}", name: 'BROCARD' },
    //         { coords: [651, 244], iconUrl: "{% static 'images/magazine_Map/Rectangle 483.png' %}", name: 'Магазин 2' },
    //         { coords: [623, 243], iconUrl: "{% static 'images/magazine_Map/CHILIA.png' %}", name: 'CHILIA' },
    //         { coords: [595, 242], iconUrl: "{% static 'images/magazine_Map/Rectangle 481.png' %}", name: 'Магазин 2' },
    //         { coords: [582, 241], iconUrl: "{% static 'images/magazine_Map/Rectangle 480.png' %}", name: 'Магазин 2' },
    //         { coords: [562, 235], iconUrl: "{% static 'images/magazine_Map/Rectangle 471.png' %}", name: 'Магазин 2' },
    //         { coords: [520, 189], iconUrl: "{% static 'images/magazine_Map/INTERTOP.png' %}", name: 'INTERTOP' },
    //         { coords: [463, 187], iconUrl: "{% static 'images/magazine_Map/ROYROBSON.png' %}", name: 'Магазин 2' },
    //         { coords: [406, 187], iconUrl: "{% static 'images/magazine_Map/ALLO.png' %}", name: 'Магазин 2' },
    //         { coords: [753, 366], iconUrl: "{% static 'images/magazine_Map/Rectangle 532.png' %}", name: 'Магазин 2' },
    //         { coords: [748, 353], iconUrl: "{% static 'images/magazine_Map/Ellipse 46.png' %}", name: 'Магазин 2' },
    //         { coords: [726, 350], iconUrl: "{% static 'images/magazine_Map/Ellipse 45.png' %}", name: 'Магазин 2' },
    //         { coords: [382, 220], iconUrl: "{% static 'images/magazine_Map/Rectangle 467.png' %}", name: 'Магазин 2' },
    //         { coords: [345, 231], iconUrl: "{% static 'images/magazine_Map/Rectangle 466.png' %}", name: 'Магазин 2' },
    //         { coords: [315, 182], iconUrl: "{% static 'images/magazine_Map/Rectangle 465.png' %}", name: 'Магазин 2' },
    //         { coords: [260, 229], iconUrl: "{% static 'images/magazine_Map/Rectangle 462.png' %}", name: 'Магазин 2' },
    //         { coords: [272, 229], iconUrl: "{% static 'images/magazine_Map/Rectangle 463.png' %}", name: 'Магазин 2' },
    //         { coords: [260, 182], iconUrl: "{% static 'images/magazine_Map/Rectangle 464.png' %}", name: 'Магазин 2' },
    //         { coords: [232, 176], iconUrl: "{% static 'images/magazine_Map/EVA.png' %}", name: 'Магазин 2' },
    //         { coords: [203, 203], iconUrl: "{% static 'images/magazine_Map/Group 53.png' %}", name: 'Магазин 2' },
    //         { coords: [205, 176], iconUrl: "{% static 'images/magazine_Map/Rectangle 457.png' %}", name: 'Магазин 2' },
    //         { coords: [205, 203], iconUrl: "{% static 'images/magazine_Map/Rectangle 458.png' %}", name: 'Магазин 2' },
    //         { coords: [205, 229], iconUrl: "{% static 'images/magazine_Map/Rectangle 459.png' %}", name: 'Магазин 2' },
    //         { coords: [205, 247], iconUrl: "{% static 'images/magazine_Map/Rectangle 460.png' %}", name: 'Магазин 2' },
    //         { coords: [208, 267], iconUrl: "{% static 'images/magazine_Map/Rectangle 536.png' %}", name: 'Магазин 2' },
    //         { coords: [235, 265], iconUrl: "{% static 'images/magazine_Map/Rectangle 537.png' %}", name: 'Магазин 2' },
    //         { coords: [264, 261], iconUrl: "{% static 'images/magazine_Map/Rectangle 538.png' %}", name: 'Магазин 2' },
    //         { coords: [294, 261], iconUrl: "{% static 'images/magazine_Map/Rectangle 539.png' %}", name: 'Магазин 2' },
    //         { coords: [313, 260], iconUrl: "{% static 'images/magazine_Map/Rectangle 540.png' %}", name: 'Магазин 2' },
    //         { coords: [347, 264], iconUrl: "{% static 'images/magazine_Map/Rectangle 541.png' %}", name: 'Магазин 2' },
    //         { coords: [370, 264], iconUrl: "{% static 'images/magazine_Map/Rectangle 542.png' %}", name: 'Магазин 2' },
    //         { coords: [417, 270], iconUrl: "{% static 'images/magazine_Map/Rectangle 543.png' %}", name: 'Магазин 2' },
    //         { coords: [404, 272], iconUrl: "{% static 'images/magazine_Map/Rectangle 544.png' %}", name: 'Магазин 2' },
    //         { coords: [342, 275], iconUrl: "{% static 'images/magazine_Map/bugatti.png' %}", name: 'Магазин 2' },
    //         { coords: [313, 278], iconUrl: "{% static 'images/magazine_Map/Rectangle 444.png' %}", name: 'Магазин 2' },
    //         { coords: [319, 307], iconUrl: "{% static 'images/magazine_Map/Rectangle 442.png' %}", name: 'Магазин 2' },
    //         { coords: [319, 334], iconUrl: "{% static 'images/magazine_Map/Rectangle 441.png' %}", name: 'Магазин 2' },
    //         { coords: [317, 361], iconUrl: "{% static 'images/magazine_Map/Rectangle 440.png' %}", name: 'Магазин 2' },
    //         { coords: [353, 388], iconUrl: "{% static 'images/magazine_Map/Rectangle 439.png' %}", name: 'Магазин 2' },
    //         { coords: [313, 404], iconUrl: "{% static 'images/magazine_Map/Rectangle 436.png' %}", name: 'Магазин 2' },
    //         { coords: [353, 388], iconUrl: "{% static 'images/magazine_Map/Rectangle 439.png' %}", name: 'Магазин 2' },
    //         { coords: [370, 402], iconUrl: "{% static 'images/magazine_Map/Rectangle 438.png' %}", name: 'Магазин 2' },
    //         { coords: [370, 450], iconUrl: "{% static 'images/magazine_Map/Rectangle 437.png' %}", name: 'Магазин 2' },
    //         { coords: [310, 458], iconUrl: "{% static 'images/magazine_Map/Rectangle 435.png' %}", name: 'Магазин 2' },
    //         { coords: [295, 458], iconUrl: "{% static 'images/magazine_Map/Rectangle 434.png' %}", name: 'Магазин 2' },
    //         { coords: [263, 396], iconUrl: "{% static 'images/magazine_Map/Rectangle 433.png' %}", name: 'Магазин 2' },
    //         { coords: [203, 352], iconUrl: "{% static 'images/magazine_Map/WC.png' %}", name: 'Магазин 2' },
    //         { coords: [262, 280], iconUrl: "{% static 'images/magazine_Map/Rectangle 445.png' %}", name: 'Магазин 2' },
    //         { coords: [264, 280], iconUrl: "{% static 'images/magazine_Map/Rectangle 446.png' %}", name: 'Магазин 2' },
    //         { coords: [295, 458], iconUrl: "{% static 'images/magazine_Map/Rectangle 434.png' %}", name: 'Магазин 2' },
    //         { coords: [236, 416], iconUrl: "{% static 'images/magazine_Map/Rectangle 431.png' %}", name: 'Магазин 2' },
    //         { coords: [208, 444], iconUrl: "{% static 'images/magazine_Map/Rectangle 428.png' %}", name: 'Магазин 2' },
    //         { coords: [208, 430], iconUrl: "{% static 'images/magazine_Map/Rectangle 429.png' %}", name: 'Магазин 2' },
    //         { coords: [207, 415], iconUrl: "{% static 'images/magazine_Map/Rectangle 430.png' %}", name: 'Магазин 2' },
    //         { coords: [205, 378], iconUrl: "{% static 'images/magazine_Map/Rectangle 432.png' %}", name: 'Магазин 2' },
    //         { coords: [203, 345], iconUrl: "{% static 'images/magazine_Map/Rectangle 453.png' %}", name: 'Магазин 2' },
    //         { coords: [203, 358], iconUrl: "{% static 'images/magazine_Map/Rectangle 454.png' %}", name: 'Магазин 2' },
    //         { coords: [234, 333], iconUrl: "{% static 'images/magazine_Map/Rectangle 455.png' %}", name: 'Магазин 2' },
    //         { coords: [203, 332], iconUrl: "{% static 'images/magazine_Map/Rectangle 452.png' %}", name: 'Магазин 2' },
    //         { coords: [206, 320], iconUrl: "{% static 'images/magazine_Map/Rectangle 451.png' %}", name: 'Магазин 2' },
    //         { coords: [205, 307], iconUrl: "{% static 'images/magazine_Map/Rectangle 450.png' %}", name: 'Магазин 2' },
    //         { coords: [220, 286], iconUrl: "{% static 'images/magazine_Map/Rectangle 449.png' %}", name: 'Магазин 2' },
    //         { coords: [205, 286], iconUrl: "{% static 'images/magazine_Map/Rectangle 448.png' %}", name: 'Магазин 2' },
    //         { coords: [238, 285], iconUrl: "{% static 'images/magazine_Map/Rectangle 447.png' %}", name: 'Магазин 2' },
    //         { coords: [390, 355], iconUrl: "{% static 'images/magazine_Map/Ellipse 38.png' %}", name: 'Магазин 2' },
    //         { coords: [390, 300], iconUrl: "{% static 'images/magazine_Map/Ellipse 39.png' %}", name: 'Магазин 2' },
    //         { coords: [393, 450], iconUrl: "{% static 'images/magazine_Map/Rectangle 527.png' %}", name: 'Магазин 2' },
    //         { coords: [393, 475], iconUrl: "{% static 'images/magazine_Map/Ellipse 36.png' %}", name: 'Магазин 2' },
    //         { coords: [378, 485], iconUrl: "{% static 'images/magazine_Map/Rectangle 528.png' %}", name: 'Магазин 2' },
    //         { coords: [464, 425], iconUrl: "{% static 'images/magazine_Map/ZolotVIk.png' %}", name: 'Магазин 2' },
    //         { coords: [464, 401], iconUrl: "{% static 'images/magazine_Map/Baldinini.png' %}", name: 'Магазин 2' },
    //         { coords: [464, 392], iconUrl: "{% static 'images/magazine_Map/Rectangle 500.png' %}", name: 'Магазин 2' },
    //         { coords: [507, 400], iconUrl: "{% static 'images/magazine_Map/Rectangle 503.png' %}", name: 'Магазин 2' },
    //         { coords: [533, 401], iconUrl: "{% static 'images/magazine_Map/Rectangle 508.png' %}", name: 'Магазин 2' },
    //         { coords: [560, 397], iconUrl: "{% static 'images/magazine_Map/Rectangle 507.png' %}", name: 'Магазин 2' },
    //         { coords: [463, 347], iconUrl: "{% static 'images/magazine_Map/GUESS.png' %}", name: 'Магазин 2' },
    //         { coords: [533, 350], iconUrl: "{% static 'images/magazine_Map/WC2.png' %}", name: 'Магазин 2' },
    //         { coords: [592, 359], iconUrl: "{% static 'images/magazine_Map/Rectangle 509.png' %}", name: 'Магазин 2' },
    //         { coords: [619, 359], iconUrl: "{% static 'images/magazine_Map/Rectangle 510.png' %}", name: 'Магазин 2' },
    //         { coords: [646, 360], iconUrl: "{% static 'images/magazine_Map/JADOR.png' %}", name: 'Магазин 2' },
    //         { coords: [673, 360], iconUrl: "{% static 'images/magazine_Map/Rectangle 512.png' %}", name: 'Магазин 2' },
    //         { coords: [700, 360], iconUrl: "{% static 'images/magazine_Map/Rectangle 513.png' %}", name: 'Магазин 2' },
    //         { coords: [729, 366], iconUrl: "{% static 'images/magazine_Map/Rectangle 514.png' %}", name: 'Магазин 2' },
    //         { coords: [702, 339], iconUrl: "{% static 'images/magazine_Map/Rectangle 520.png' %}", name: 'Магазин 2' },
    //         { coords: [702, 337], iconUrl: "{% static 'images/magazine_Map/Rectangle 519.png' %}", name: 'Магазин 2' },
    //         { coords: [673, 324], iconUrl: "{% static 'images/magazine_Map/Rectangle 518.png' %}", name: 'Магазин 2' },
    //         { coords: [645, 316], iconUrl: "{% static 'images/magazine_Map/Rectangle 517.png' %}", name: 'Магазин 2' },
    //         { coords: [645, 306], iconUrl: "{% static 'images/magazine_Map/Rectangle 535.png' %}", name: 'Магазин 2' },
    //         { coords: [673, 311], iconUrl: "{% static 'images/magazine_Map/Rectangle 534.png' %}", name: 'Магазин 2' },
    //         { coords: [703, 321], iconUrl: "{% static 'images/magazine_Map/Rectangle 533.png' %}", name: 'Магазин 2' },
    //         { coords: [616, 308], iconUrl: "{% static 'images/magazine_Map/Rectangle 515.png' %}", name: 'Магазин 2' },
    //         { coords: [590, 301], iconUrl: "{% static 'images/magazine_Map/Rectangle 505.png' %}", name: 'Магазин 2' },
    //         { coords: [569, 296], iconUrl: "{% static 'images/magazine_Map/VOVK.png' %}", name: 'Магазин 2' },
    //         { coords: [463, 346], iconUrl: "{% static 'images/magazine_Map/Rectangle 498.png' %}", name: 'Магазин 2' },
    //         { coords: [463, 316], iconUrl: "{% static 'images/magazine_Map/Rectangle 496.png' %}", name: 'Магазин 2' },
    //         { coords: [463, 296], iconUrl: "{% static 'images/magazine_Map/Rectangle 495.png' %}", name: 'Магазин 2' },
    //         { coords: [463, 280], iconUrl: "{% static 'images/magazine_Map/Rectangle 494.png' %}", name: 'Магазин 2' },
    //         { coords: [503, 285], iconUrl: "{% static 'images/magazine_Map/Rectangle 497.png' %}", name: 'Магазин 2' },
    //         { coords: [416, 330], iconUrl: "{% static 'images/magazine_Map/Rectangle 529.png' %}", name: 'Магазин 2' },
    //         { coords: [412, 360], iconUrl: "{% static 'images/magazine_Map/Rectangle 531.png' %}", name: 'Магазин 2' },
    //         { coords: [428, 368], iconUrl: "{% static 'images/magazine_Map/Rectangle 530.png' %}", name: 'Магазин 2' },
    //         { coords: [435, 435], iconUrl: "{% static 'images/magazine_Map/Ellipse 40.png' %}", name: 'Магазин 2' },
    //         { coords: [455, 458], iconUrl: "{% static 'images/magazine_Map/Ellipse 37.png' %}", name: 'Магазин 2' },
    //         { coords: [512, 456], iconUrl: "{% static 'images/magazine_Map/Ellipse 41.png' %}", name: 'Магазин 2' },
    //         { coords: [557, 445], iconUrl: "{% static 'images/magazine_Map/Ellipse 42.png' %}", name: 'Магазин 2' },



    //     ]
    </script>
</head>

<body class=" d-flex flex-column justify-content-center align-items-center ">
    <header class="home-content  ">
        <menu class=" home-content_menu d-flex align-content-start justify-content-center flex-wrap " id="fromTop">
            <a href="" class=" flex-column">
                <img src="{% static 'icons/location.svg' %}" alt="" class="icon-location">
                <p>location</p>
            </a>
            <img src="" alt="">
            <dir class="home-content_menu_orig-menu ">
                <ul class="home-content_menu_orig-menu_menu-list d-flex justify-content-center  align-items-center ">
                    <li class="home-content_menu_orig-menu_menu-list_menu-item "><a href="{% url 'home' %}">home</a>
                    </li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-divider "></li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-item "><a href="{% url 'about' %}">about
                            Us</a></li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-divider "></li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-item "><a href="{% url 'profile' %}">service
                            Profile</a></li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-divider "></li>
                    <li class="home-content_menu_orig-menu_menu-list_menu-item "><a href="{% url 'info' %}">useful
                            information</a></li>
                </ul>
            </dir>
            <dir class="home-content_menu_logSign d-flex justify-content-center align-items-center ">
                <button class="home-content_menu_logSign_btn" onclick="location.href='{% url 'login' %}'">Log
                    in</button>
                <button class="home-content_menu_logSign_btn"
                    onclick="location.href='{% url 'register' %}'">Register</button>
            </dir>
            <dir class="home-content_menu_line ">
            </dir>
        </menu>
        <div class="map-navigation d-flex flex-row flex-beetween">
            <div class="map-search d-flex flex-column">
                <input type="text" id="searchInput" placeholder="Введіть для пошуку...">
            </div>
            <div class="map" id="map"></div>
        </div>

    </header>
</body>

</html>