{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style/passwordreset.css" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% comment %} <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'scripts/home2.js' %}"></script>
    <script src="{% static 'scripts/scrollreveal.min.js' %}"></script> {% endcomment %}
</head>
<body>
    <div class="header d-flex">
        <img src="{% static 'images/M.png' %}" class="img-fluid logo" alt="">
        <button class="button">log in</button>
        <button class="button">register</button>
    </div>
    <div class="my-container">
        
    </div>
    
    <div class="login-box " >

        <div class="parent-container d-flex flex-column">
            <img src="{% static 'images/forgotpassword2.png' %}" alt="РОМА ЛОХ" style="width: 200px; height: auto;" /> 
        </div>
        
            
        <h2>Forgot your password?</h2>
        <form>

            
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Enter your registered email</label>
          </div>

          <div class="parent-container d-flex flex-column">
          <button class="button-big">Send</button>
           </div>
        </form>
      </div>
</body>
</html>