{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/login.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/scrollreveal.min.js' %}"></script>
    <script src="{% static 'scripts/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'scripts/home2.js' %}"></script>
    <link href="{% static 'style/reserv.css' %}" rel="stylesheet">
    <link href="{% static 'style/register.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/forma-register.css' %}" rel="stylesheet">
    <link href="{% static 'style/main.css' %}" rel="stylesheet">
    <link href="{% static 'style/shtora.css' %}" rel="stylesheet">
    <link href="{% static 'style/swiper-bundle.min.css' %}" rel="stylesheet">
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}


    <div class="block-for-register d-flex justify-content-between">

        <div class="block-for-register_leftb">
            <header class="home-content_header_container">
                <div class="d-flex flex-row">
                    <a href="{% url 'landing' %} "><img src="../static/images/M.png" class="for-img"></a>
                    <button class="button" onclick="location.href='{% url 'login' %}'"><a>Log in</a></button>
                    {% if user.is_authenticated %}
                    Ви увійшли як {{ user.first_name }} {{ user.last_name }}
                    <a href="{% url 'profile' %}" class="btn btn-primary btn-sm">Профіль</a>
                    <a href="{% url 'logout' %}" class="btn btn-primary btn-sm">Вийти</a>
                    {% else %}
                    {% endif %}
                </div>
            </header>
            <p align="center" style="font-size:40px; margin-top: 7%; font-weight: bold; line-height: 70px; margin-bottom: 0px;">Create an account</p>
            <div class="login-box d-flex justify-content-center align-items-center">
                <form method="POST">
                    {% csrf_token %}
                    <div class="user-box">
                        <input type="text" class="form-control" name="{{ form.first_name.name }}">
                        <label class="d-flex flex-column">First name</label>

                    </div>
                    <div class="user-box">
                        <input type="text" class="form-control" name="{{ form.last_name.name }}">
                        <label class="d-flex flex-column">Last name</label>
                    </div>
                    <div class="user-box">
                        <input type="email" class="form-control" name="{{ form.email.name }}">
                        <label class="d-flex flex-column">Email</label>
                    </div>
                    <div class="user-box">
                        <input type="password" class="form-control" name="{{ form.password1.name }}">
                        <label class="d-flex flex-column">Password</label>
                    </div>
                    <div class="user-box">
                        <input type="password" class="form-control" name="{{ form.password2.name }}">
                        <label class="d-flex flex-column">Confirm password</label>
                    </div>
                    <div class="parent-container d-flex flex-column">
                        <button class="button-big">
                            <a style="font-size: 23px; font-weight: 400;">Create an account</a>
                        </button>
                    </div>
                    <div class="parent-container d-flex flex-column">
                        <button class="button-big"><img id="GoogleIcon" class="icon"
                            src="/static/icons/google.svg" style="height: 28px; width: 32px;"> <a style="font-size: 20px; font-weight: 400;"> Sign up with Google</a> </button>
                         </div>


                </form>
            </div>


        </div>
         <div class="d-flex justify-content-center align-items-center flex-column">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img style=" object-fit: cover;" src="/static/images/cards/Frame 8.png"
                            alt=""></div>
                    <div class="swiper-slide"><img style=" object-fit: cover;" src="/static/images/cards/Frame 9.png"
                            alt=""></div>
                    <div class="swiper-slide"><img style=" object-fit: cover;" src="/static/Gifes/Grabacion.gif" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper myUniqueSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <span class="slide-text">Personal sales</span>
                  </div>
                  <div class="swiper-slide">
                    <span class="slide-text">Search store</span>
                  </div>
                  <div class="swiper-slide">
                    <span class="slide-text">Navigate with map</span>
                  </div>
                </div>
              </div>
        </div>



    </div>

</body>

</html>