{% extends "base.html" %}
{% load static %}

{% block title %}Tima attack{% endblock %}

{% block content %}
    <a href="{% url 'home' %}"><img src="{% static 'images/OIP.jpg' %}" class="image-button"></a>
    <p>{{ name }}</p>
    <p>
        <img src="{% static 'images/video.gif' %}" class="centered-image">
        <img src="{% static 'images/video.gif' %}" class="centered-image">
        <img src="{% static 'images/video.gif' %}" class="centered-image">
        <img src="{% static 'images/video.gif' %}" class="centered-image">
        <img src="{% static 'images/video.gif' %}" class="centered-image">
        <img src="{% static 'images/video.gif' %}" class="centered-image">
    </p>
{% endblock %}
